<section data-w-id="1f629b1f-a48e-1a0c-e5dc-acd8bfe6e81e" style="opacity:0;filter:blur(8px)" class="section hero-v4">
    <div class="w-layout-blockcontainer container-default w-container">
        <div data-w-id="1f629b1f-a48e-1a0c-e5dc-acd8bfe6e820" style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="inner-container---435px center">
            <div class="text-center">
                <h1 class="text-light">About Sicherhaven Technologies</h1>
                <div class="mg-top-3x-extra-small">
                    <div class="inner-container---600px center">
                        <p class="text-paragraph-light">We are a leading technology company specializing in innovative solutions for community engagement and financial literacy. Our mission is to empower individuals and organizations with cutting-edge tools that drive meaningful connections and financial growth.</p>
                    </div>
                </div>
            </div>
            <div class="mg-top-small">
                <div class="buttons-row">
                    <a id="w-node-_99805214-dd54-e7f3-2549-05c0df1040fb-df1040fb" data-wf--primary-button--variant="base" data-w-id="99805214-dd54-e7f3-2549-05c0df1040fb" href="/company-pages/contact" class="primary-button w-inline-block">
                        <div class="button-content-flex gap-0">
                            <div>Get started</div>
                            <div class="button-icon-wrapper">
                                <div class="button-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14px" viewBox="0 0 16 15" fill="none" class="button-arrow">
                                        <path d="M7.8589 0.996826L14.1772 7.02789M14.1772 7.02789L7.8589 13.059M14.1772 7.02789L1.87854 7.02789" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
